// main.sass

@import 'reference/reference';

@include font-face('FHB Skinny Clean', '32A5F4_1_0.woff');
/*@include font-face('FHB Heavy Clean', '32A5F4_2_0.woff');
@include font-face('FHB Skinny Distressed', '32A5FC_5_0.woff');
@include font-face('FHB Heavy Distressed', '32A5FC_3_0.woff');
@include font-face('SocialicoPlus', 'SocialicoPlus.ttf', normal, normal, 'truetype');*/

html {
	font-family: $font-family-sansserif;
	font-size: $font-size-medium;
	font-weight: $font-weight-normal;
	overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'FHB Skinny Clean', Helvetica;
	font-weight: $font-weight-medium;
	letter-spacing: -.125em;
	text-transform: uppercase;
}

body {
	line-height: $line-height-body;
}

p {
	line-height: $line-height-body;
}
