// components/_bouncer.scss

@import '../reference/reference';

$block: 'bouncer';
$o-block: 'overlay';

//
//	Bouncer
//
.#{$block} {
	@include box-shadow(rgba(128, 128, 128, .3));
	@include border-radius(3px);

	background-color: $white;
	bottom: 5%;
	color: $deep-black;
	display: none;
	left: 5%;
	padding: 1em 0;
	position: fixed;
	right: 5%;
	text-align: center;

	.bouncer--card-em & {
		display: block;
	}

	@include media-min(sm) {
		bottom: auto;
		margin: 0 auto;
		top: 40px;
		width: 500px;
	}

	&__logo {
		border-bottom: 1px solid #ececec;
		padding-bottom: .5em;

	}

	&__heading {
		font-size: $font-size-medium * 2;
		line-height: 1.4em;
		padding: 1em;
	}

	&__response { // <a> button
		@include button;//($white, $deep-black, $white);
		width: 30%;
	}

	&__suggested-action {
		display: none;
	}

	.bouncer--offer-suggestion &__card-em {
		display: none;
	}

	.bouncer--offer-suggestion &__suggested-action {
		display: block;
	}
}

//
//	Overlay
//
.#{$o-block} {
	background-color: rgba(37, 37, 37, .95);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	.bouncer--card-em & {
		display: block;
	}
}

