// components/_fhb-our-story.sass

@import '../reference/reference';

$block: 'fhb-our-story';

.#{$block} {
	background-color: $white;
	font-size: $font-size-medium + 2;
	padding-bottom: $global-vertical-spacing-base * 4;
	padding-top: $global-vertical-spacing-base * 3;

	@include media-breakpoint-up(xl) {
		margin-left: auto;
		margin-right: auto;
		max-width: map-get($container-max-widths, xl);
	}

	h2 {
		color: $deep-black;
		text-align: center;
	}

	h3 {
		color: $deep-black;
		text-align: center;
	}
}
