// components/_fhb-sidekick.sass

@import '../reference/reference';

$block: 'fhb-sidekick';

$spacing: 40px;

$sm-1x1-image-size: 200px;
$md-1x1-image-size: 280px;
$lg-1x1-image-size: 360px;

$multiplier-4x3: 1.33333;
$sm-4x3-image-width: $sm-1x1-image-size * $multiplier-4x3;
$md-4x3-image-width: $md-1x1-image-size * $multiplier-4x3;
$lg-4x3-image-width: $lg-1x1-image-size * $multiplier-4x3;

$multiplier-16x9: 1.77777;
$sm-16x9-image-width: $sm-1x1-image-size * $multiplier-16x9;
$md-16x9-image-width: $md-1x1-image-size * $multiplier-16x9;
$lg-16x9-image-width: $lg-1x1-image-size * $multiplier-16x9;

.#{$block} {
	margin-bottom: $global-vertical-spacing-base * 2;
	margin-top: $global-vertical-spacing-base * 2;
	text-align: center;

	@include media-min(sm) {
		margin-bottom: $global-vertical-spacing-base * 4;
		margin-top: $global-vertical-spacing-base * 4;
		text-align: left;
	}

	@include media-min(xl) {
		margin-left: auto;
		margin-right: auto;
		max-width: map-get($container-max-widths, xl);
	}

	&__body {
		text-align: left;
	}

	&--ratio-1x1 {
		.#{$block}__image {
			height: auto;
			width: 60%;

			@include media-min(sm) {
				float: left;
				height: $sm-1x1-image-size;
				margin-right: $spacing;
				width: $sm-1x1-image-size;
			}

			@include media-min(md) {
				height: $md-1x1-image-size;
				width: $md-1x1-image-size;
			}

			@include media-min(lg) {
				height: $lg-1x1-image-size;
				width: $lg-1x1-image-size;
			}
		}

		.#{$block}__details {
			@include media-min(sm) {
				margin-left: $sm-1x1-image-size + $spacing;
			}

			@include media-min(md) {
				margin-left: $md-1x1-image-size + $spacing;
			}

			@include media-min(lg) {
				margin-left: $lg-1x1-image-size + $spacing;
			}
		}
	}

	/* Default */
	&--ratio-4x3 {
		.#{$block}__image {
			height: auto;
			width: 80%;

			@include media-min(sm) {
				float: left;
				height: $sm-1x1-image-size;
				margin-right: $spacing;
				width: $sm-4x3-image-width;
			}

			@include media-min(md) {
				height: $md-1x1-image-size;
				width: $md-4x3-image-width;
			}

			@include media-min(lg) {
				height: $lg-1x1-image-size;
				width: $lg-4x3-image-width;
			}
		}

		.#{$block}__details {
			@include media-min(sm) {
				margin-left: $sm-4x3-image-width + $spacing;
			}

			@include media-min(md) {
				margin-left: $md-4x3-image-width + $spacing;
			}

			@include media-min(lg) {
				margin-left: $lg-4x3-image-width + $spacing;
			}
		}
	}

	&--ratio-16x9 {
		.#{$block}__image {
			height: auto;
			width: 100%;

			@include media-min(md) {
				float: left;
				height: $sm-1x1-image-size;
				margin-right: $spacing;
				width: $sm-16x9-image-width;
			}

			@include media-min(md) {
				height: $md-1x1-image-size;
				width: $md-16x9-image-width;
			}

			@include media-min(lg) {
				height: $lg-1x1-image-size;
				width: $lg-16x9-image-width; /*auto*/
			}
		}

		.#{$block}__details {
			@include media-min(sm) {
				//margin-left: $sm-16x9-image-width + $spacing;
			}

			@include media-min(md) {
				margin-left: $md-16x9-image-width + $spacing;
			}

			@include media-min(lg) {
				margin-left: $lg-16x9-image-width + $spacing;
			}
		}
	}

	&__details {
		border-bottom: 3px solid $fhb-grey;
		margin-left: $spacing;
		margin-right: $spacing;
		padding-bottom: $global-vertical-spacing-base;
		padding-top: $global-vertical-spacing-base / 2;

		@include media-min(md) {
			border-bottom: 0;
			border-top: 3px solid $fhb-grey;
			margin-right: $spacing;
		}

		@include media-min(lg) {
			padding-top: $global-vertical-spacing-base * 2;
		}

		&--rust {
			border-color: $fhb-rust;
		}

		&--red {
			border-color: $fhb-red;
		}

		&--green {
			border-color: $fhb-green;
		}

		&--blue {
			border-color: $fhb-blue;
		}

		&--yellow {
			border-color: $fhb-yellow;
		}
	}

	&__heading {
		color: $fhb-grey-dark;
		font-size: $font-size-large;
		line-height: $line-height-heading;
		margin-top: 0;

		@include media-min(md) {
			font-size: $font-size-large + 8;
		}

		@include media-min(lg) {
			font-size: $font-size-large + 12;
		}
	}

	&__cta {
		/*background-color: $deep-black;*/
		border: 1px solid $deep-black;
		border-radius: 3px;
		color: $deep-black;
		display: inline-block;
		font-family: 'FHB Skinny Clean', Helvetica;
		font-size: $font-size-small;
		letter-spacing: -.125em;
		padding: .6em 1em .3em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: $deep-black;
			color: $white;
		}
	}
}
