// components/_fhb-hint.scss

@import '../reference/reference';

$block: 'fhb-hint';

.#{$block} {
	background-image: url('../images/arrow-hint.png');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50px 10px;
	content: '';
	display: block;
	height: 10px;
	margin: -$global-vertical-spacing-base * 2 auto $global-vertical-spacing-base * 2;
	padding: .5em;
	width: 50px;

	span {
		@include sr-only;
	}
}
