// components/_fhb-brand-hero.sass

@import '../reference/reference';

$block: 'fhb-brand-hero';

.#{$block} {
	background-attachment: scroll;
	background-color: $deep-black;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)), url('../images/freehold-winter-masthead.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: ($grid-gutter-width / -2);
	margin-right: ($grid-gutter-width / -2);
	/*min-height: 100%;*/
	padding: 12em 0 30px;
	position: relative;
	text-align: center;

	h1 {

		$logo-mark-percentage-up-base: 70%;
		$logo-mark-percentage-up-sm: $logo-mark-percentage-up-base;
		$logo-mark-percentage-up-md: 55%;
		$logo-mark-percentage-up-lg: 45%;

		.#{$block}__icon {
			width: $logo-mark-percentage-up-sm / 5;

			@include media-breakpoint-up(sm) {
				width: $logo-mark-percentage-up-sm / 5;
			}

			@include media-breakpoint-up(md) {
				width: $logo-mark-percentage-up-md / 5;
			}
		}

		.#{$block}__logo-mark {
			margin-top: .75em;
			width: $logo-mark-percentage-up-base;

			@include media-breakpoint-up(sm) {
				margin-top: 1.5em;
				width: $logo-mark-percentage-up-sm;
			}

			@include media-breakpoint-up(md) {
				margin-top: 2em;
				width: $logo-mark-percentage-up-md;
			}
		}
	}
}
