// components/_fhb-ribbon.sass

@import '../reference/reference';

$block: 'fhb-ribbon';

.#{$block} {
	padding: 10px 0;

	/*
	&__element {
		font-family: $font-family-sansserif;
	}

	&--modifier {
		font-family: $font-family-serif;
	}
	*/
}
