// components/_fhb-follow-cta.sass

@import '../reference/reference';

$block: 'fhb-follow-cta';

.#{$block} {
	//background-color: $black;
	background-attachment: scroll;
	background-color: $deep-black;
	background-image: url('../images/instagram-banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	font-size: 48px;
	margin-left: ($grid-gutter-width / -2);
	margin-right: ($grid-gutter-width / -2);
	text-align: center;

	&__logo { // Instagram logo
		$logo-size: 64px;
		background-repeat: no-repeat;
		background-size: $logo-size;
		display: inline-block;
		height: $logo-size;
		margin: 1em auto;
		transition: transform ease 300ms;
		width: $logo-size;

		.inlinesvg & {
			background-image: url('../images/instagram-logo.svg');
		}

		.no-inlinesvg & {
			background-image: url('../images/instagram-logo@2x.png');
		}

		& span {
			@include sr-only;
		}
	}

	a {
		color: $white;
		display: inline-block;
		padding: $global-vertical-spacing-base * 2;
		text-decoration: none;

		& p {
			font-size: 24px;

			strong {
				display: block;

				@include media-breakpoint-up(sm) {
					display: inline;
				}
			}
		}

		@include media-breakpoint-up(sm) {
			&:hover {
				p strong {
					border-bottom: 1px solid $white;
				}

				.#{$block}__logo {
					transform: scale(1.1);
				}
			}
		}
	}
}
