<footer class="row fhb-footer">
	<div class="col-xs-24 col-sm-12 fhb-footer__logo-mark">
		<a href="#top" onclick="gtmEventHelper('to-top', 'click', 'context:footer');"><img src="./images/brand-w.png" height="38px" alt="Freehold Brewing Co."/></a>
	</div>
	<div class="col-xs-24 col-sm-12 fhb-footer__contact">
		<a href="mailto:info@freeholdbrewing.ca" onclick="gtmEventHelper('contact', 'mailto', 'context:footer');">Contact us</a>
	</div>
</footer>