<div class="fhb-brand-hero">
	<h1>
		<img class="fhb-brand-hero__icon" src="./images/icon_w.png" alt="Freehold icon" />
		<br/>
		<img src="./images/logo_full_w.png" class="fhb-brand-hero__logo-mark" alt="Freehold Brewing Co."/>
	</h1>
</div>