<div class="fhb-follow-cta">
	<a href="http://www.instagram.com/freeholdbrewingco/" target="_blank">
		<p>
			<span class="fhb-follow-cta__logo">I</span>
			<br/> Follow <strong>@freeholdbrewingco</strong> on Instagram<!-- &rarr;-->
		</p>
	</a>
</div>