<div class="fhb-follow-cta">
	<a href="http://www.instagram.com/freeholdbrewingco/" onclick="gtmEventHelper('call-to-action', 'external-link', 'instagram');" target="_blank">
		<p>
			<span class="fhb-follow-cta__logo"><span>Instagram</span></span>
			<br/> Follow <strong>@freeholdbrewingco</strong> on Instagram<!-- &rarr;-->
		</p>
	</a>
</div>