<div class="row fhb-summary-item">
	<div class="col-xs-24{{#if twoCol}} col-md-10 col-md-push-2{{else}} col-md-20 col-md-push-2{{/if}}">
		<h2 class="fhb-summary-item__heading">
			Meet FBL, the latest Black Lager from Freehold Brewing Company.
		</h2>
		<div class="fhb-summary-item__meta">
			<label>Beer</label>
			<time>Nov. 27, 2016</time>
		</div>
	</div>
	<div class="col-xs-24{{#if twoCol}} col-md-10 col-md-push-2{{else}} col-md-18 col-md-push-3 col-lg-16 col-lg-push-4{{/if}}">
		<div class="fhb-summary-item__summary">
			<p>Pellentesque vulputate felis non viverra elementum. Suspendisse ac vestibulum mi, in cursus mi. Donec scelerisque quam nulla, eget tempus dui interdum id. Pellentesque feugiat mi sit amet est faucibus gravida id nec massa. Donec lobortis rhoncus vulputate. Ut lobortis odio nec nisl lobortis molestie. Aliquam vel ante lectus.</p>
			<p>Donec at gravida sem, sed vestibulum sem. Aenean ut libero ut dolor dictum lobortis id id tellus. Donec sodales leo vel condimentum consectetur. Donec et libero ornare, aliquet orci in, viverra diam.</p>
		</div>
	</div>
</div>
