<div class="container-fluid fhb-our-story">
	<div class="row">
		<div class="col-xs-24">
			<h2>Our story</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p><strong>Freehold Brewing Co.</strong> is not about the 'typical' beer imagery and atmosphere. We take ourselves a little less seriously, but take our work very seriously.</p>
		</div>
		<div class="col-md-11 col-md-offset-1">
			<p>We are about a true and honest reflection of place. A celebration of our humble beginings as the 'west'. We strive to be more considered, more locally focused, more engaged with our consumers.</p>
		</div>
	</div>
</div>
